body {
    background-color: #000000 ;
    font-family: Arial, sans-serif;
    margin: 10px 500px;
    .container { 
    display: flex; 
    gap: 10px;
    justify-content: space-between;
}

    .div1, .div2, .div6 {
        border: 1px solid rgb(16, 16, 16);
        padding: 10px;
        margin-bottom: 10px;
        background-image: url("../imagens/fundopreto.png");
        border: 2px solid #ccc;
        color: white;
    }

    .perfil{
        width: 400px;
    }

    .div1 {
        text-align: center;
    }
/*
    .div2 {
        width: 300px;
    }*/

    .div6 {
        width: 400px;
    }

    .formacao, .complementares, .softskills {
        border: 1px solid rgb(16, 16, 16);
        padding: 10px;
        margin-bottom: 10px;
        background-image: url("../imagens/fundopreto.png");
        border: 2px solid #ccc;
        color: white;
        width: 500px;
    }

    ol {
        padding-left: 20px;
    }

    ul {
        list-style-type: disc;
        margin-left: 20px;
    }
}

h2{
font-family: Georgia, cursive; text-align: center;
color: white;
}

a{
color: white;
}